.DS_STORE

# migration 파일 제외
backdjango/**/migrations/

# 컴파일 파일 제외
backdjango/**/__pycache__/

# idea config 파일 제외
backdjango/.idea/
.idea

# 가상환경 파일 제외
backdjango/venv/

# node_modules 제외
frontreact/node_modules/

# 빌드 파일 제외
#frontreact/build/