
.cardcontain{
    margin-left: 30px;
    margin-bottom: 20px;
    opacity: 0.7;
}
.cardcontain:hover {
  opacity: 1.0;
}
.maincardcontainfirst{
    margin-bottom: 20px;
    padding-top: 30px;
}
.maincardcontainetc{
    margin-bottom: 20px;
    padding-top: 30px;
}
.cardtitletext{
    height: 20px;
    margin-left: 15px;
    font-width: bold;
    font-size: 17px;
    color: dimgray;
}

.cardtext{
    font-width: bold;
    font-size: 35px;
    text-align:center;
    color: black;
}

.containermargin{
    margin-bottom: 5px;
}
.btndivmargin{
    margin-right: 20px;
    margin-bottom: 20px;

}
.deliverbutton{
    float: right;
    margin:10px;
}
.submitbutton{
    float: right;
    margin:10px;
    margin-right : 37px;
}

.searchdatemargin{
    display: flex;
    margin:30px;
    margin-bottom: 30px;
    text-align: left;
}
.subtitle{
    display: flex;
    text-align: left;
    margin-left: 30px;
}
.dotmargin{
    margin : auto;
    margin-left: 15px;
    margin-right:5px;
    background: rgb(84,197,245);
    border-radius: 50%;
    width : 1rem;
    height: 1rem;
    text-align: center;
}
.dottext{
    font-size: 15px;
    font-weight: bold;
}
.headermargin{
    display: flex;
    /*margin:30px;*/
    margin-bottom: 30px;
}
.barmargin{
    margin : auto;
    margin-left: 0px;
    margin-right:15px;
    background: rgb(52,152,219);
    width : 0.5rem;
    height: 1.5rem;
    text-align: center;
}
.bartext{
    font-size: 19px;
    font-weight: bold;
}

.startdatetext{
    text-align: center;
    width:100%;
    font-size: 16px;
    font-weight: bold;
}
.enddatetext{
     text-align: center;
    width:100%;
    font-size: 16px;
    font-weight: bold;
}
.settingbtn{
    width: 100%;
    margin-left: 10px;
}
.ordercardtext {
    font-weight: bold;

}
.orderviewmargin{
    margin-bottom: 40px;
}
.spanaline{
    text-align: center;
    width:100%;
    font-size: 22px;
    font-weight: bold;
    /*border: 2px solid black;*/
    border-top :1px solid lightgray;
    border-bottom :1px solid lightgray;
    /*border-width: 1px;*/
}
.spanalineright{
    text-align: right;
}
.spanborderend{
    text-align: left;
    width:100%;
    font-size: 22px;
    font-weight: bold;
    border-top :1px solid lightgray;
    border-bottom :1px solid lightgray;
    border-right :1px solid lightgray;
}
.orderallselect{
    margin-left: 35px;
    padding-top: 25px;
    font-size: 17px;
    font-weight: bold;

}
.orderdelivercard{
    margin-left: 30px;
    margin-bottom: 20px;
}
.orderdelivercardborder{
    border-color: rgb(52,152,219);
    width: 95%;
}
.orderdeliverinputbordertop{
    border-color: rgb(52,152,219);
    border-width: 1px;
    border-bottom: none;
    width: 95%;
}


.orderdelivercardside{
    font-Size:18px;
    font-Weight: bold;
    color:white;
    background-Color:rgb(52,152,219);
}
.orderdelivercardsideline{
    border-Color:white;
    border-Style:solid;
    border-Width:1px;
}
.orderdelivertable{
    background: rgb(52,152,219);
    text-align: center;

}
.orderdelivertablebe{
    background-color: cornsilk;
    font-size: 15px;
    font-weight: bold;

}

.orderdelivertablefont{
    font-weight: bold;
    font-size: 15px;
    color: white;
}

