tr {
    text-align: center;
}
th{
    /*font-size: 1.2rem;*/
    font-size: 15px;
}
td{
    /*font-size: 1.1rem;*/
    font-size: 15px;
}
.doc-filter-wrapper {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    margin-right: 0;
    padding-right: 0;
}
.doc-card-col {
    padding: 0 15px 0 0;
}
.doc-card-col:last-child {
    padding: 0;
}

.docPaymentTable{
    margin-top: 3rem;
}

.docPaymentTable tr{
    min-height: 4rem;
    max-height: max-content;
}

.docPaymentTable td:nth-child(even){
    text-align: left;
    padding-left: 2.5rem;
}

.prodnameTable td:nth-child(even){
    padding-left: 0;
}

.sidebarDisplay{
    display: flex;
}

.writeRequest{
    width: 100%;
}

.commentDiv span{
    float: right;
    width: 15rem;
    text-align: right;
}

.sendButton{
    height: 3rem;
    margin-bottom: 1rem;
}

.docPaymentDiv{
    display: inline-block;
    float: right;
}

.listSearchDiv{
    margin: 2.1rem;
}

.docPaymentBtn{
    height: 3rem;
    width: 8rem;
}
.docPaymentBtn:hover, .sendButton:hover{
    cursor: pointer;
}

.docPaymentDetailDiv{
    display: inline-block;
    width: 100%;
}

.docPaymentDetailDiv Button:nth-child(2){
    float: right;
}

.prodnameTable td:nth-child(even){
    text-align: center;
    width: 20%;
}

.prodnameTable tr:first-child{
    background-color: darkgray;
    font-weight: bold;
}

.prodnameTable td{
    text-align: center;
    width: 50%;
}

/*결재자 버튼*/
.DocApproBtnDiv{
    display: flex;
}

.DocApproBtn{
    height: 3rem;
    width: 8rem;
}

.awaitDocApproBtn{
    height: 3.3rem;
    width: 7.4rem;
}

.awaitDocApproBtnDiv{
    width: 100%;
    text-align: right;
}

.approvalBtn{
    margin-left: 1rem;
}