tr {
    text-align: center;
}
th{
    font-size: 1.2rem;
}
td{
    font-size: 1.1rem;
}

.docPaymentTable{
    margin-top: 3rem;
}

.docPaymentTable tr{
    min-height: 4rem;
    max-height: max-content;
}

.sidebarDisplay{
    display: flex;
}

.writeRequest{
    width: 100%;
}

.commentDiv span{
    float: right;
    width: 15rem;
    text-align: center;
}

.sendButton{
    height: 3rem;
    margin-bottom: 1rem;
}

.docPaymentDiv{
    display: inline-block;
    float: right;
}

.listSearchDiv{
    margin: 2.1rem;
}

.docPaymentBtn{
    height: 3rem;
    width: 8rem;
}
.docPaymentDetailDiv{
    display: inline-block;
    width: 100%;
}

.docPaymentDetailDiv Button:nth-child(2){
    float: right;
}
