.goalDiv {
    border-left: 0.5rem solid rgb(82, 150, 213);
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 15px;
    width: 13rem;
    text-align: left;
}

.paginationDiv {
    display: flex;
    justify-content: center;
}