.goalDiv {
    border-left: 0.5rem solid #1C91FB;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 15px;
    width: 100%;
    text-align: left;
}

.subGoalDiv {
    border-left: 0.5rem solid #1C91FB;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 15px;
    width: 100%;
    text-align: left;
}

.DocCountCardDiv img {
    width: 3rem;
}

.ReqCountCardDiv img {
    width: 3rem;
}

.paginationDiv {
    display: flex;
    justify-content: center;
}

.pagingDiv:hover, .modal1btn:hover {
    cursor: pointer;
}

.main-card {
    border-radius: 5px / 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(222, 222, 222);
}

.card-body {
    align-content: flex-end;
}