/*.page-top {*/
/*    height: 200%;*/
/*}*/

a:link, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

/* 헤더 */
.header {
    width: 100vw;
    background: white;
}

.header .header-wrapper {
    height: 60px;
    padding: 0 20px;
}

.header .bar-wrapper {
    color: white;
    background-color: #1C91FB;
    padding: 5px 20px;
    height: 30px;
}

.header .container {
    padding: 0 20px;
}

.header .logout {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    cursor: pointer;
}

.header .bar {
    text-align: start;
}

.header .logo-wrapper,
.header .profile {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    /* border: 1px red solid; */
}

.header .logo {
    font-weight: 900;
    font-size: larger;
    text-align: start;
    color: #1C91FB;
}

.header .photo {
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

/* 사이드바와 컨텐츠 탑 컴포 */
.container-content {
    display: flex;
    vertical-align: top;
}

/* 사이드바 */
.sidebar-wrapper {
    flex: 2;
    min-width: 200px;
    min-height: 100vh;
    background-color: rgb(224, 224, 224);
}

/*.selected-menu {*/
/*  color: rgb(80, 160, 255);*/
/*}*/
/*.selected {*/
/*  color: rgb(80, 160, 255);*/
/*}*/

.menu1, .menu2 {
    /*color: rgb(80, 160, 255);*/
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.menu1:hover, .menu2:hover {
    color: cadetblue;
}

.menu1.active, .menu2.active, .selected {
    color: #1C91FB;
}


.sidebar-wrapper .sidebar {
    padding: 20px;
}

.sidebar-wrapper .menu-wrapper {
    margin-bottom: 10px;
}

.sidebar-wrapper .menu1 {
    margin-bottom: 5px;
}

.sidebar-wrapper .menu2 {
    margin-bottom: 5px;
    margin-left: 20px;
}

/* 탑 컴포넌트*/
.container-main {
    display: inline-block;
    flex: 10;
    padding: 20px;
}