.page-top {
    height: 100vh;
}

a:link, a:visited, a:hover {
    color: inherit;
    text-decoration: none;
}

/* 헤더 */
.header {
    width: 100vw;
    background: white;
}

.header .header-wrapper {
    height: 60px;
    padding: 0 20px;
}

.header .bar-wrapper {
    color: white;
    background-color: rgb(52, 152, 219);
    padding: 5px 20px;
    height: 30px;
}

.header .container {
    padding: 0 20px;
}

.header .logout {
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.header .bar {
    text-align: start;
}

.header .logo-wrapper,
.header .profile {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    /* border: 1px red solid; */
}

.header .logo {
    font-weight: 900;
    font-size: larger;
    text-align: start;
    color: rgb(52, 152, 219);
}

.header .photo {
    padding: 0;
    background-image: url("https://www.flaticon.com/free-icon-font/user_3917711?related_id=3917711");
    background: no-repeat;
    background-size: 10%;
}

/* 사이드바와 컨텐츠 탑 컴포 */
.container-content {
    display: flex;
    vertical-align: top;
}

/* 사이드바 */
.sidebar-wrapper {
    display: inline-block;
    flex: 2;
    min-width: 200px;
    height: 100vh;
    background-color: rgb(224, 224, 224);
}

.sidebar-wrapper .sidebar {
    padding: 20px;
}

.sidebar-wrapper .menu-wrapper {
    margin-bottom: 10px;
}

.sidebar-wrapper .menu1 {
    margin-bottom: 5px;
}

.sidebar-wrapper .menu2 {
    margin-bottom: 5px;
    margin-left: 20px;
}

/* 탑 컴포넌트*/
.container-main {
    display: inline-block;
    flex: 10;
    padding: 20px;
}