.loginDiv {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.loginDiv img {
    width: 8rem;
    margin-bottom: 3rem;
    margin-top: 10rem;
}

.mb-3 {
    width: 20rem;
    font-family: "Roboto";
}

.mb-3::placeholder {
    font-family: 'NanumSquare', sans-serif;
    opacity: 1;
}


.d-grid {
    width: 18.5rem;
}

/*.login-img:before {*/
/*    c*/
/*}*/

Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-icon {
    margin: 120px 0 30px 0;
}