.img1 {
    width: 110px;
    height: 110px;

}

.inline {
    display: inline-flex;
}
.display_btn {
    display: inline-flex;
}
.doclistTh {
    background-color: #848484;
    color: white;

}


.img_cart {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
}

.button_cart {
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;

}

.buttonc {

    display: flex;
    justify-content: center;

}

.button_updown {
    width: 30px;
    height: 30px;
    padding: 0;
    /*font-size: inherit;*/
    /*text-align: center;*/
    /*place-self: center*/
}
.textsize1{
    margin: 0;
    padding: 0;
}

.td1{
    vertical-align: middle;
}
.table1{
    width: 100%;
}
.prdth1{
        width: 15%;
        vertical-align: middle;
}
.prdth2{
        width: 5%;
        vertical-align: middle;
}
.prdth3{
        width: 45%;
        vertical-align: middle;
}


.tr1{
    height: 130px;
}
.margin1{
    margin-right: 30px;
}
.input1{
  width: 300px;
  height: 45px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 23px;
  background-color: rgb(233, 233, 233);

}

.nonefoundmsg {
font-size: xx-large;
   text-align: center;
}