.request-select-button-filter-wrapper {
    display: flex;
}

.request-select-button-wrapper {
    display: flex;
    flex:2;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-right: 20px;
}

.request-select-wrapper {
    display: flex;
}

.reqfilter-wrapper {
    display: flex;
    flex: 7;
    justify-content: space-between;
    align-items: center;
}

.reqfilter-box-wrapper {
    padding: 20px;
    margin-right: 10px;
    background-color: rgb(224, 224, 224);
    border-radius: 5px / 5px;
    flex: 1 1 0;
    max-width: 320px;
    height: 150px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.reqfilter-box-wrapper:last-child {
    margin-right: 0;
}

.request-list-table-head {
    background-color: #848484;
    color: white;
    font-size: 10px;
}


.request {
    margin-top: 20px;
}

.reqfilter-box-name {
    font-size: 1.2rem;
}

.reqfilter-align-row {
    display: flex;
    justify-content: space-between;
}

.request-select-button-wrapper {

}

.reqfilter-box {
    display: flex;
    align-content: flex-end;
}

.reqfilter-box-icon {
    align-content: flex-end;
}

.request-button-filter-wrapper {
    display: flex;
}

.request-button-wrapper {
    display: flex;
    justify-content: flex-start;
}

.request-button {
    /*margin-right: 10px;*/
    flex: 6;
}

.request-button:first-child {
    margin-right: 10px;
}

.request-list-wrapper {
    margin-top: 30px;
}

.request-list-number {
    text-align: end;
}
.request-list-table-col {
    font-size: 1rem;
}

.request-list-table-col.check {
    width: 50px
}
.request-list-table-col.num {
    width: 50px
}

.request-list-table-col.name {
    width: 800px
}
.request-list-table-col.count {
    width: 100px
}

.request-list-table-col.date {
    width: 200px
}
.request-list-table-col.writer {
    width: 100px
}
.request-list-table-col.state {
    width: 100px
}
thead > tr, tbody > tr > td {
    font-size: 1rem;
}
.request-list-table-td.name {
    text-align: start;
    padding-left: 20px;
}

.request-list-click.able > td:nth-child(8),
.request-list-click.able > td:nth-child(8):hover {
    color: rgb(108, 194, 205);
}

.request-list-click.able {
    cursor: pointer;
}