p {
    margin: 0;
}

.request-select-button-filter-wrapper {
    display: flex;
}

.request-select-button-wrapper {
    display: flex;
    flex: 2;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-right: 20px;
}

.request-select-wrapper {
    display: flex;
}

.reqfilter-wrapper {
    display: flex;
    flex: 7;
    justify-content: space-between;
    align-items: center;
}

.reqfilter-box-wrapper {
    padding: 20px;
    margin-right: 10px;
    background-color: rgb(224, 224, 224);
    border-radius: 5px / 5px;
    flex: 1 1 0;
    max-width: 320px;
    height: 150px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reqfilter-box-wrapper:last-child {
    margin-right: 0;
}

.reqfilter-box-wrapper:hover {
    box-shadow: 0 0 0 2px rgb(84, 197, 245) inset;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.5, .24, 0, 1);
}

.request-list-table-head {
    background-color: #848484;
    color: white;
    font-size: 10px;
}


.request {
    margin-top: 20px;
}

.reqfilter-box-name {
    font-size: 1.5rem;
}

.reqfilter-box-count {
    font-size: 1.5rem;
}

.reqfilter-align-row {
    display: flex;
    justify-content: space-between;
}

.request-select-button-wrapper {

}

.reqfilter-box {
    display: flex;
    align-items: flex-end;
}

.reqfilter-box-icon {
    align-content: flex-end;
}

.request-button-filter-wrapper {
    display: flex;
}

.request-button-wrapper {
    display: flex;
    justify-content: flex-start;
}

.request-button {
    /*margin-right: 10px;*/
    flex: 6;
}

.request-button:first-child {
    margin-right: 10px;
}

.request-list-wrapper {
    margin-top: 30px;
}

.request-list-number {
    text-align: end;
}

.request-list-table-col {
    font-size: 15px;
}

.request-list-table-col.check {
    width: 3%;
}

.request-list-table-col.num {
    width: 5%;
}

.request-list-table-col.name {
    width: 42%;
}

.request-list-table-col.count {
    width: 5%;
}

.request-list-table-col.price {
    width: 10%;
}

.request-list-table-col.date {
    width: 10%;
}

.request-list-table-col.writer {
    width: 5%;
}

.request-list-table-col.state, .staging {
    width: 5%;
}


thead > tr > td, tbody > tr > td {
    font-size: 15px;
}

.request-list-table-td.name {
    text-align: start;
    padding-left: 20px;
}

.request-list-click.able > td:nth-child(9),
.request-list-click.able > td:nth-child(9):hover {
    color: rgb(108, 194, 205);
}

.request-list-click.able {
    cursor: pointer;
}

.request-alert-wrapper {
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    height: 70px;
}

.request-alert-icon {
    flex: 1;
    text-align: center;
}
.request-alert-text {
    margin-left: 10px;
    flex: 10;
    align-content: center;
}