/*CheckPeriod*/

.checkPeriodDiv{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(222, 222, 222);
    width: 100%;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.checkPeriodDiv img{
    width: 2.5rem;
    margin-right: 1rem;
}

.checkPeriodDiv div{
    display: flex;
}

.checkPeriodDiv div:nth-child(1){
    padding: 0.8%;
}

.checkPeriodDiv div:nth-child(1) div:nth-child(1){
    margin-right: auto;
    font-size: 1.5rem;
}

.checkPeriodDiv div:nth-child(1) div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1.5rem;
}

/*////////////////////////////////////*/
/* RequestStatus */

.divHr{
    border-left: 1px solid black;
    height: 80%;
    margin-top: 2rem;
}

.requestStatusDiv{
    border-radius: 5px / 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(222, 222, 222);
    display: flex;
    justify-content: center;
    height: 20rem;
    margin-top: 2rem;
}

.requestStatusDiv div:nth-child(1), .requestStatusDiv div:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.requestStatusDiv div:nth-child(1) div:nth-child(1), .requestStatusDiv div:nth-child(3) div:nth-child(1){
    height: 30%;
    width: 40%;
    justify-content: center;

    border-radius: 5px / 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(222, 222, 222);
    font-weight: bold;
    font-size: 2rem;
    color: #1C91FB;

}

.requestStatusDiv div:nth-child(1) div:nth-child(2), .requestStatusDiv div:nth-child(3) div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30%;
    width: 40%;
    margin-top: 2rem;

    font-size: 2rem;
    font-weight: bold;
    background-color: #1C91FB;
    color: white;
    border-radius: 10px;
}

.requestStatusDiv div:nth-child(1):hover, .requestStatusDiv div:nth-child(3):hover{
    cursor: pointer;
}


.main-reqterm-icon{
    margin-right: 10px;
}